[Unit]
Description=ebpH Daemon Service
StartLimitIntervalSec=0

[Service]
Type=simple
#PIDFile=/run/ebph.pid
Restart=always
RestartSec=1
User=root
ExecStart=/opt/ebpH/bin/ebphd start
ExecStop=/opt/ebpH/bin/ebphd stop
ExecReload=/opt/ebpH/bin/ebphd restart

[Install]
WantedBy=multi-user.target
